<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>
  <p>
    <strong>Icon:</strong>
    <% if group.icon.attached? %>
      <%= image_tag(group.icon, class: "w-25", alt: "#{group.name}") %>
    <% end %>
  </p>
  <p>Total: <%= group.total_tranfers %></p>
</div>
