<h1>Groups</h1>
<div id="groups">
  <% @groups.each do |group| %>
    <% if can? :read, group %>
      <%= render group %>
      <p>
        <%= link_to "Show this group", group %>
      </p>
    <% end %>
  <% end %>
</div>
<%= link_to "New group", new_group_path %>
