<h1>Groups</h1>
<div id="groups">
  <% @groups.each do |group| %>
    <% if can? :read, group %>
      <a href="<%= group_path(id: group) %>" class="text-decoration-none text-black">
        <%= render group %>
      </a>
    <% end %>
  <% end %>
</div>
<%= link_to "New group", new_group_path, id: 'new-group-btn' %>
