<h1 class="text-center my-4">Categories</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <% if can? :read, group %>
      <a href="<%= group_path(id: group) %>" class="text-decoration-none text-black">
        <%= render group %>
      </a>
    <% end %>
  <% end %>
</div>
<div class="bg-main fixed bottom-0 w-full">
  <a href="<%= new_group_path %>" id="new-group-btn" class="block no-underline border border-white text-white p-3 m-3 rounded-[4px] text-center">New Category</a>
</div>
